In [ ]:
#Regression analysis is a form of predictive modelling technique which investigates the relationship between a dependent variable and independent variable 
#Major uses for regression analysis: Determining strength of predictors(independent variable), Forecasting an effect and Trend forecasting
#Computational compllexity of linear regression is usually O(n^2) or O(n)
#Equation y = mx + c, y is the depedent variable, m is the slope of line, x is the independent variable , c is sthe y intercept
#Equation for negative relation y = -mx + c
#One of the use case of regression is to predict stock and crypto prices

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (20.0, 10.0)

In [3]:
data = pd.read_csv('dataset.csv')
print(data.shape)
data.head()

(237, 4)

   Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0       1          1             4512                 1530
1       1          1             3738                 1297
2       1          1             4261                 1335
3       1          1             3777                 1282
4       1          1             4177                 1590

In [4]:
data.tail()

     Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
232       2          2             3214                 1110
233       2          2             3394                 1215
234       2          2             3233                 1104
235       2          2             3352                 1170
236       2          2             3391                 1120

In [5]:
X = data['Head Size(cm^3)'].values
Y = data['Brain Weight(grams)'].values

In [7]:
mean_x = np.mean(X)
mean_y = np.mean(Y)
m = len(X)

numer = 0
denom = 0
#Calculating value of b1(m) and b0(c)
for i in range(m):
    numer += (X[i] - mean_x) * (Y[i] - mean_y)
    denom += (X[i]- mean_x) ** 2

b1 = numer/denom
b0 = mean_y - (b1 * mean_x)
print(b1, b0)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices